AnchorPane {
	-fx-background-color: rgb(232, 225, 215);
	/*-fx-background-image: url("rabbit-150x150.png"); */
}

Label {
	-fx-text-fill: #660000;
}

Button {
	-fx-color: gray;
	-fx-text-fill: white;
	-fx-background-radius: 3px;
	/* -fx-font-size: 2em; */
}