AnchorPane {
	-fx-background-color: rgb(232, 225, 215);
	/*-fx-background-image: url("rabbit-150x150.png"); */
}

Label {
	-fx-text-fill: #660000;
	-fx-font-size: 1.8em;
	-fx-font-family: "Open Sans";
}
#statusLabel {
	-fx-text-fill: #660000;
	-fx-font-size: 1.2em;
}

Button {
	-fx-color: gray;
	-fx-text-fill: white;
	-fx-background-radius: 3px;
	-fx-font-size: 1.8em;
}
Button:hover {
  -fx-background-color: gray;
}